*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 1px;
}
.container {
    max-width: 1235rem;
    padding: 0 15rem;
    margin-inline: auto;
    @include tablet-small-768 {
        padding: 0 24rem;
    }
}
body {
    font-family: $ff;
    background: $color-bg;
    color: $color-white;
}
.overflow-hidden {
	overflow-y: hidden;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0; 
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
ul {
    list-style: none;
}
button {
    padding: 0;
}
.btn {
  display: inline-block;  
  border-radius: 5rem;
  border: 0;
  outline: 0;  
  background: $color-primary;
  transition: $transition;
}
.title {
    @include text($ff-titles, 60rem, 70rem, 700, $color-white);         
    @include mobile-576{
        @include text($ff-titles, 36rem, 54rem, 700, $color-white);
        
    }
}
.desc {
    @include text($ff, 21rem, 39rem, 400, $color-text);    
    letter-spacing: -0.66rem;
    @include tablet-small-768 {        
        @include text($ff, 16rem, 24rem, 400, $color-text);
    }
}
header, section, footer {
    border-bottom: 1px solid yellow;
}
