*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-size: 1px;
    height: 100%;    
}
.wrapper {
    max-width: 1920rem;
    position: relative;
    margin-inline: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    height: 100%;    
}
.container {
    max-width: 1235rem;
    padding: 0 15rem;
    margin-inline: auto;    
    @include tablet-small-768 {
        padding: 0 24rem;
    }
}
body {
    font-family: $ff;
    background: $color-bg;
    color: $color-white;
    height: 100%;      
}
.overflow-hidden {
	overflow-y: hidden;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0; 
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
ul {
    list-style: none;
}
button {
    padding: 0;
}
.btn {
  display: inline-block;  
  border-radius: 5rem;
  border: 0;
  outline: 0;  
  background: $color-primary;
  transition: $transition;
}
.title {
    @include text($ff-titles, 60rem, 70rem, 700, $color-white);         
    @include mobile-576{
        @include text($ff-titles, 36rem, 54rem, 700, $color-white);
        text-align: left;
    }
}
.desc {
    @include text($ff, 21rem, 39rem, 400, $color-text);    
    letter-spacing: -0.66rem;
    @include tablet-small-768 {        
        @include text($ff, 16rem, 24rem, 400, $color-text);
    }
}
.blur {
    @include desktop-small-1200 {
        display: none;
    }
    &__top-left {
        position: absolute;
        width: 467rem;
        height: 1234rem;
        left: 281rem;
        top: -181rem;
        z-index: -10;
        background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
        filter: blur(150rem);
        border-radius: 233.5rem;
        transform: rotate(-54.37deg);
    }
    &__top-right {
        position: absolute;
        z-index: -20;
        width: 467rem;
        height: 1399.3rem;
        left: 1170rem;
        top: -40rem;    
        background: linear-gradient(180deg, rgba(251, 168, 28, 0.1066) 0%, rgba(224, 86, 136, 0.0615) 100%);
        filter: blur(150rem);
        border-radius: 233.5rem;
        transform: rotate(65.71deg);
    }
}
*::-webkit-scrollbar {
    width: 15rem;
    height: 10rem;
    background-color: $color-bg;
    
}
*::-webkit-scrollbar-thumb {
    border-radius: 16rem 0 16rem 0;
    height: 10rem;
    width: 10rem;
    background-color: $color-primary;   
}

