@include tablet-992 {
    .nav__ul {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background: $color-primary;
        left: 0;
        top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        transform: translateX(120%);
        transition: $transition;
        z-index: 99;
    }
    .nav__ul.active {
        transform: translateX(0%);
        z-index: 99;
    }
    .nav__ul .icon-close {
        display: inline-block;
        position: fixed;
        top: 40px;
        right: 40px;
        color: $color-white;
    }

}
