$ff: 'Nunito Sans', sans-serif;

$color-black: #000;
$color-white: #fff;
$color-primary: #5454D4;
$color-text: rgba(255, 255, 255, 0.7);
$color-bg: #19191B;
$contact-bg: rgba(30, 30, 32, 0.5);;

$transition: .2s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;


