.contact-section {
    background: $contact-bg;
    padding: 187rem 0;
    @include mobile-576 {
        padding: 80rem 0;
    }
    &__container {
        @include flex-between;
        gap: 15rem;
        position: relative;
        &::before {
            content:'';
            background: url('../../img/decorations/circles.svg') 0 0/cover no-repeat;
            display: inline-block;            
            width: 51rem;
            height: 60rem;
            position: absolute; 
            bottom: -123rem;
            left: 53rem; 
            @include mobile-576 {
                width: 39.3rem;
                height: 46.3rem;
                left: 9rem;
                bottom: -68rem;
            }
        }
        &::after {            
            content:'';
            background: url('../../img/decorations/x.svg') 0 0/cover no-repeat;
            display: inline-block;
            width: 28rem;
            height: 28rem;
            position: absolute; 
            top: -83rem;
            right: 37rem;
            transform: rotate(30deg);
            @include mobile-576 {
                width: 19rem;
                height: 19rem;
                top: -46rem;
                right: 34rem;
            } 
        }
        @include tablet-992 {
            flex-direction: column;
            align-items: flex-start;
            gap: 50rem;
        }
    }
    &__title {
        max-width: 826rem;
        flex-shrink: 1;
    }
    &__btn {
        padding: 16rem 49rem;
        @include text ($ff, 21rem, 29rem, 700, $color-white); 
        flex-shrink: 0;
        @include press;
        &:hover {
            background: darken($color-primary, 10%);
        }
        @include mobile-576 {
            line-height: 22rem;
            padding: 11rem 33rem;
        }
    }
}

