.header {
    @include flex-between;
    padding-top: 42rem;
    padding-bottom: 96rem;
    @include mobile-576 {
        padding-top: 45rem;
        margin-bottom: 69rem;
    }
    &__logo {
        @include mobile-576 {
            max-width: 115rem;
        }
    } 
    &__burger {
        display: none;        
        @include tablet-992 {
            display: inline-block;
            color: $color-white;
        }
    }
}
.nav {
    flex-grow: 1;
    &__ul {
        position: relative; 
        display: flex;       
        align-items: center;
        flex-grow: 1;
        gap: 40rem;
        transition: $transition;        
        a {
            @include text ($ff, 18rem, 25rem, 400, $color-text);            
            transition: $transition;
            @include press;
            &:not(.button):hover {
                color: $color-primary;
            }
        }        
    }
    &__li {
        &:first-child, &:last-of-type {
            margin-left: auto;
            @include tablet-992 {
                margin-left: inherit;
            }

        }
    }
    .active {
        color: $color-primary;
        @include tablet-992 {
            color: $color-text;
        }
    }
    .icon-close {
        display: none;
    }   
}