.header {
    @include flex-between;
    padding-top: 42rem;
    padding-bottom: 96rem;
    @include mobile-576 {
        padding-top: 45rem;
        padding-bottom: 69rem;
    }
    &__logo {
        @include mobile-576 {
            max-width: 115rem;
        }
    } 
    &__burger {
        display: none;        
        @include tablet-992 {
            display: inline-block;
            color: $color-white;
        }
    }
}
.nav {
    flex-grow: 1;
    &__ul {
        position: relative; 
        display: flex;       
        align-items: center;
        flex-grow: 1;
        gap: 40rem;
        transition: $transition;        
        a {
            @include text ($ff, 18rem, 25rem, 400, $color-text);            
            transition: $transition;
            @include press;
            &:not(.nav__button):hover {
                color: $color-primary;
            }
        }        
    }
    &__li {
        &:first-child, &:last-of-type {
            margin-left: auto;
            @include tablet-992 {
                margin-left: inherit;
            }

        }
    }
    .active {
        color: $color-primary;
        @include tablet-992 {
            color: $color-text;
        }
    }
    // .icon-close {
    //     display: none;
    // }
}  
.header__burger {
    position: relative;
    z-index: 100;
}
.header__burger .line{
    width: 40rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: $color-white;
    display: block;
    margin: 8rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
.header__burger:hover{
    cursor: pointer;
  }
  #hamburger.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger.is-active .line:nth-child(1){
    -webkit-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
    background-color: $color-text;
  }
  
  #hamburger.is-active .line:nth-child(3){
    -webkit-transform: translateY(-14px) rotate(-45deg);
    -ms-transform: translateY(-14px) rotate(-45deg);
    -o-transform: translateY(-14px) rotate(-45deg);
    transform: translateY(-14px) rotate(-45deg);
    background-color: $color-text;
  }