.main-section {
    @include flex-between;
    overflow-x: hidden;
    margin-bottom: 151rem;
    @include tablet-992 {
        margin-bottom: 75rem;
    }
    @include tablet-992 {
        flex-direction: column;
    }
	&__title {
        @include text($ff-titles, 80rem, 84rem, 700, $color-white);
        max-width: 582rem;    
        @include mobile-576{
            @include text($ff, 42rem, 63rem, 700, $color-white);
            max-width: 327rem;            
        }
	}
	&__desc {
        max-width: 536rem;
        margin-top: 24rem;
        @include mobile-576 {
            margin-top: 30rem;
            max-width: 327rem;
        }
	}    
	&__btn {
        padding: 16rem 27rem;        
        @include text($ff, 20rem, 27rem, 700, $color-white);        
        @include press;
        display: inline-flex;
        align-items: center;
        gap: 14rem;
        margin-top: 50rem;
        @include mobile-576 {
            @include text($ff, 16rem, 22rem, 700, $color-white); 
        }
        img {
            max-width: 12rem;
            font-weight: 700;
        }
        @include tablet-992 {
            margin-bottom: 92.5rem;
        }
        &:hover {
            background: darken($color-primary, 10%);
        }
	}
    &__image {
        max-width: 656rem;        
        img {            
            transform: translate(75rem, -65rem);
            
            @include tablet-992 {
                transform: translate(0, -65rem);                
            }
        } 
    }
}

