.main-section {
    @include flex-between;
    overflow-x: hidden;
    padding-bottom: 151rem;
    @include tablet-992 {
        padding-bottom: 140rem;
        flex-direction: column;
    }
    @include mobile-576 {
        align-items: flex-start;
        
    }
    animation: fade-in 2.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}  
	&__title {
        @include text($ff-titles, 80rem, 84rem, 700, $color-white);
        max-width: 582rem;    
        @include mobile-576{
            @include text($ff, 42rem, 63rem, 700, $color-white);
            max-width: 327rem;            
        }
	}
	&__desc {
        max-width: 536rem;
        margin-top: 24rem;
        @include mobile-576 {
            margin-top: 30rem;            
        }
	}    
	&__btn {
        padding: 16rem 27rem;        
        @include text($ff, 20rem, 27rem, 700, $color-white);        
        @include press;
        display: inline-flex;
        align-items: center;
        gap: 14rem;
        margin-top: 50rem;
        @include mobile-576 {
            @include text($ff, 16rem, 22rem, 700, $color-white);
            padding: 12rem 21rem; 
        }
        img {
            max-width: 12rem;
            font-weight: 700;
        }
        @include tablet-992 {
            margin-bottom: 50rem;
        }
        &:hover {
            background: darken($color-primary, 10%);
        }
	}
    &__image {
        max-width: 656rem;        
        img {            
            transform: translateX(75rem);
            
            @include tablet-992 {
                transform: translateX(0);                
            }
        } 
    }
}

