.portfolio-section {
    padding-bottom: 168rem;
    position: relative;
    &::before {
        content:'';
        background: url('../../img/decorations/line.svg') 0 0/cover no-repeat;
        display: inline-block;            
        width: 95rem;
        height: 28rem;
        position: absolute; 
        bottom: 140rem;
        left: -33rem; 
        @include tablet-small-768 {
            width: 61rem;
            height: 18rem;
            left: 33rem;
            bottom: 77rem;
        }
    }
    &::after {            
        content:'';
        background: url('../../img/decorations/circles.svg') 0 0/cover no-repeat;
        display: inline-block;
        width: 62rem;
        height: 73rem;
        position: absolute; 
        top: 43rem;
        right: 62rem;
        transform: rotate(-27.37deg);            
        @include tablet-small-768 {
            width: 39rem;
            height: 46rem;
            transform: rotate(-20.89deg);
            top: 51rem;
            right: 24rem;
        } 
    }
    @include tablet-992 {
        flex-direction: column;
        align-items: flex-start;
        gap: 50rem;
    }
    @include tablet-small-768 {
        padding-bottom: 140rem;
    }
    &__title {
        @include text($ff, 58rem, 79rem, 800, $color-white);
        margin-bottom: 70rem;
        @include mobile-576 {
            @include text($ff, 36rem, 54rem, 700, $color-white);
            max-width: 327rem;
            margin-bottom: 50rem;
        }
    }
    &__list {
        transition: $transition;
        height: 483rem;
        padding-bottom: 50rem;
        cursor: pointer;
        @include tablet-992 {
            height: unset;
            padding-bottom: 0;
        }
    }
    &__item {
        background: $slider-items;
        border-radius: 14rem;
        padding: 24rem;
    }
}