.service-section {
  padding-bottom: 150rem;
  position: relative;
  &::before {
    content: "";
    background: url("../../img/decorations/triangles.svg") 0 0 / cover no-repeat;
    display: inline-block;
    width: 104.6rem;
    height: 120rem;
    position: absolute;
    top: -33rem;
    left: 47rem;
    @include tablet-small-768 {
      width: 65rem;
      height: 75rem;
      top: -75rem;
      left: 24rem;
    }
  }
  &::after {
    content: "";
    background: url("../../img/decorations/x.svg") 0 0 / cover no-repeat;
    display: inline-block;
    width: 28rem;
    height: 28rem;
    position: absolute;
    transform: rotate(-31.42deg);
    top: 109rem;
    right: 4rem;
    @include tablet-small-768 {
      width: 18.6rem;
      height: 18.6rem;
      transform: rotate(0);
      top: 93rem;
      right: 16rem;
    }
  }
  @include tablet-992 {
    padding-bottom: 140rem;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    &::before {
      content: "";
      background: url("../../img/decorations/x.svg") 0 0 / cover no-repeat;
      display: inline-block;
      width: 28rem;
      height: 28rem;
      position: absolute;
      transform: rotate(25.34deg);
      bottom: -30rem;
      left: -14rem;
      @include mobile-576 {
        width: 18.6rem;
        height: 18.6rem;
        transform: rotate(0);
        left: 4rem;
        bottom: -40rem;
      }
    }
    @include tablet-992 {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile-576 {
      grid-template-columns: 1fr;
    }
  }
  &__title {
    text-align: center;
    margin-inline: auto;
    max-width: 695rem;
    margin-bottom: 98rem;
    @include mobile-576 {
      max-width: 327rem;
      margin-bottom: 50rem;
      margin-inline: 0;
    }
  }
}
.card {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 48rem 43rem;
    gap: 24rem;
    transition: all 0.5s;
  }
  &__title {
    @include text($ff, 28rem, 38rem, 600, $color-white);
    letter-spacing: -0.75rem;
    @include mobile-576 {
      @include text($ff, 24rem, 33rem, 700, $color-white);
    }
  }
  &__desc {
    @include text($ff, 20rem, 28rem, 400, $color-text);
    letter-spacing: -0.5rem;
    max-width: 299rem;
    @include mobile-576 {
      @include text($ff, 16rem, 28rem, 400, $color-text);
      max-width: 269rem;
    }
  }
  &__icon {
    border-radius: 50%;
    img {
      border-radius: 50%;
      max-width: 69rem;
      transition: $transition;
    }
  }
}
.service-section .blur {
  &__bottom-first {
    position: absolute;
    z-index: -30;
    width: 860rem;
    height: 2576.87rem;
    left: 264rem;
    top: -600rem;

    background: linear-gradient(
      180deg,
      rgba(251, 168, 28, 0.048) 0%,
      rgba(224, 86, 136, 0.018) 100%
    );
    filter: blur(150rem);
    border-radius: 233.5rem;
    transform: rotate(65.71deg);
  }

  &__bottom-second {
    position: absolute;
    z-index: -20;
    width: 599.58rem;
    height: 652.85rem;
    left: 930rem;
    top: 790rem;

    background: linear-gradient(
      180deg,
      rgba(84, 84, 212, 0.2) 0%,
      rgba(84, 84, 212, 0.084) 100%
    );
    filter: blur(150rem);
    border-radius: 233rem;
    transform: matrix(-0.58, -0.81, -0.81, 0.58, 0, 0);
  }
}
@media (hover: hover) {
  .card__item {
    &:hover {
      transition: all 0.7s;
      transform: translateY(-10rem);
      border-radius: 10rem;
      img {
        transform: scale(1.2);
        filter: saturate(150%);
        box-shadow: 0 0 10rem rgba(113, 112, 112, 0.7);
      }
    }
    &._red {
      &:hover {
        box-shadow: inset 0 0 15rem #f04037;
      }
    }
    &._blue {
      &:hover {
        box-shadow: inset 0 0 15rem $color-primary;
      }
    }
    &._yellow {
      &:hover {
        box-shadow: inset 0 0 15rem #fedc5a;
      }
    }
  }
}
